* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  background: rgb(17, 13, 23);
  background: linear-gradient(to bottom, rgb(12, 2, 29) 0%, rgb(0, 0, 0) 100%);
  color: white;
}

.hero {
  height: 100vh;

  .announcement {
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .announcement-link {
    padding: 13px;
    outline: 1px solid rgb(83, 75, 95);
    background-color: #17112a;
    border-radius: 25px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: medium;
  }

  .announcement-link:hover {
    background-color: #282435;
    cursor: pointer;
    .announcement-button {
      background-color: #50476b;
    }
  }

  .announcement-button {
    padding: 10px;
    margin: 10px;
    background-color: #363147;
    border-radius: 25px;
  }

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid bisque; */
  }

  .hero-title {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
  }

  .hero-describtion {
    margin: 20px;
    text-align: center;
    font-size: large;
    color: rgb(125, 115, 141);
  }

  .cta-button {
    margin: 20px;
    padding: 10px;
    background: linear-gradient(to bottom right, #355ceb, #4a51ec, #6d41ec);
    padding: 10px;
    border-radius: 205px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
  }

  .cta-button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(173, 58, 255, 0.4);
  }

  @media (max-width: 640px) {
    .hero {
      padding: 1rem;
    }

    .announcement-link {
      font-size: 0.75rem;
    }

    .hero-content {
      padding: 0 1rem;
    }
  }
}
